#ИСКЛЮЧЕНЯ ДЛЯ GIT

# виртуальная среда
project_venv/

# питоновский кэш (создаются и обновляются автоматически при каждом запуске проекта, 
#поэтому нет необходимости хранить их в репозитории)
__pycache__/
*.pyc

# OS (скрытые системные файлы, которые macOS использует для хранения метаданных о папке)
.DS_Store

# результаты работы сервера
echo "client/*.json"